{:instruments [{:instrument-id "M00123"
                :output-dir "test_output/M00123/22"
                :output-dir-structure :old
                :instrument-type :miseq
                :starting-run-number 300}
               {:instrument-id "M00456"
                :output-dir "test_output/M00456/22"
                :output-dir-structure :new
                :instrument-type :miseq
                :starting-run-number 256}
               {:instrument-id "VH00123"
                :output-dir "test_output/VH00123/22"
                :instrument-type :nextseq
                :starting-run-number 12}]
 :projects [{:name "mysterious_experiment"
             :species {"SARS-CoV-2" 1.0}}
            {:name "routine_testing"
             :species {"SARS-CoV-2" 0.5 "RSV" 0.3 "Mpox" 0.2}
             :cross-contamination-rate 0.02}
            {:name "quality_check"
             :species {"SARS-CoV-2" 1.0}}
            {:name "viral_outbreak"
             :species {"Mpox" 1.0}}
            {:name "assay_development"
             :species {"RSV" 1.0}}]
 :reads-per-sample 100
 :starting-plate-number 100
 :starting-date "2022-06-01"
 :run-interval-ms 10000
 :mark-upload-complete true}
