[:RunParameters
 [:SampleSheetFilePath "SampleSheet.csv"]
 [:PlannedCycles
  [:Read1 151]
  [:Index1 10]
  [:Index2 10]
  [:Read2 151]]
 [:CompletedCycles
  [:Read1 151]
  [:Index1 10]
  [:Index2 10]
  [:Read2 151]]
 [:InstrumentSerialNumber "VH00123"]
 [:InstrumentType "NextSeq 2000"]
 [:ApplicationName "NextSeq 1000/2000 Control Software"]
 [:ApplicationVersion "1.5.0.42699"]
 [:FlowCellSerialNumber "AAG3GACJ8"]
 [:FlowCellPartNumber "20027770"]
 [:FlowCellLotNumber "20782274"]
 [:FlowCellExpirationDate "2025-04-31"]
 [:FlowCellVersion "2"]
 [:FlowCellMode "NextSeq 1000/2000 P2 Flow Cell Cartridge"]
 [:CartridgeSerialNumber "EC1631568-EA14"]
 [:CartridgePartNumber "20044466"]
 [:CartridgeLotNumber "20753140"]
 [:CartridgeExpirationDate "2025-03-21"]
 [:CartridgeVersion "3"]
 [:CartridgeMode "NextSeq 1000/2000 P2 Reagent Cartridge (338 Cycles)"]
 [:ExperimentName "Experimental Experiment"]
 [:RecipeName "MO-Seq"]
 [:RecipeVersion "2.0"]
 [:RtaVersion "3.10.30"]
 [:RunStartTime "2024-01-31T22:39:31.9209895Z"]
 [:RunEndTime "2024-02-02T05:14:36.9732111Z"]
 [:RunElapsedTime "1:6:35:5:052 (d:hr:min:s:ms)"]
 [:RunCounter "141"]
 [:CimVersion "cim@1.4.4"]
 [:ChmVersion "chm@1.4.4"]
 [:ImbVersion "imb@1.4.4"]
 [:CibFpgaVersion "0x3200000a"]
 [:CopyServiceRunId "1E01CB575CA4EF36"]
 [:CopyServiceVersion "2.7.3.4836"]
 [:BaseSpaceRunId "3294167"]
 [:BsshMode "RunMonitoringOnly"]
 [:SecondaryAnalysisPlatformVersion "3.7.4"]
 [:SecondaryAnalysisWorkflow "GenerateFastQ"]
 [:RunSetupMode "SampleSheet"]
 [:SecondaryAnalysisMode "Local"]
 [:OutputFolder "/path/to/RUN_ID"]
 [:SkipObdd "false"]
 [:PurgeReagentCartridge "true"]
 [:CustomPrimerSelections
  [:Read1 "None"]
  [:Index1 "None"]
  [:Index2 "None"]
  [:Read2 "None"]]]
